body {
  font-size: 18px;
  line-height: 27px;
  background-color: #ccc;
}

main{
  background-color: #00916E;
}

img.center-block {
}

section{
  
}
header{
  background-color: #FF2E00;
}
a{
  background-color: #FF2E00;
  color: #F6F4F3;
}


